openapi: 3.0.0
info:
    title: Portkey API
    description: The Portkey REST API. Please see https://portkey.ai/docs/api-reference for more details.
    version: "2.0.0"
    termsOfService: https://portkey.ai/terms
    contact:
        name: Portkey Developer Forum
        url: https://portkey.wiki/community
    license:
        name: MIT
        url: https://github.com/Portkey-AI/portkey-openapi/blob/master/LICENSE
servers:
    - url: https://api.portkey.ai/v1
tags:
    - name: Assistants
      description: Build Assistants that can call models and use tools.
    - name: Audio
      description: Turn audio into text or text into audio.
    - name: Chat
      description: Given a list of messages comprising a conversation, the model will return a response.
    - name: Completions
      description: Given a prompt, the model will return one or more predicted completions, and can also return the probabilities of alternative tokens at each position.
    - name: Embeddings
      description: Get a vector representation of a given input that can be easily consumed by machine learning models and algorithms.
    - name: Fine-tuning
      description: Manage fine-tuning jobs to tailor a model to your specific training data.
    - name: Batch
      description: Create large batches of API requests to run asynchronously.
    - name: Files
      description: Files are used to upload documents that can be used with features like Assistants and Fine-tuning.
    - name: Images
      description: Given a prompt and/or an input image, the model will generate a new image.
    - name: Models
      description: List and describe the various models available in the API.
    - name: Moderations
      description: Given a input text, outputs if the model classifies it as potentially harmful.
    - name: Configs
      description: Create, List, Retrieve, and Update your Portkey Configs.
    - name: Feedback
      description: Send and Update any feedback.
    - name: Logs
      description: Custom Logger to add external logs to Portkey.
    - name: Prompts
      description: Given a prompt ID saved on Portkey, return a response or render the prompt data.
    - name: Virtual-keys
      description: Create, List, Retrieve, Update, and Delete your Portkey Virtual keys.
    - name: Users
      description: Create and manage users.
    - name: User-invites
      description: Create and manage user invites.
    - name: Workspaces
      description: Create and manage workspaces.
    - name: Workspaces > Members
      description: Create and manage workspace members.
    - name: Api-Keys
      description: Create, List, Retrieve, Update, and Delete your Portkey Api keys.
    - name: Logs Export
      description: Exports logs service .
    - name: Analytics
      description: Get analytics over different data points like requests, costs, tokens, etc.
    - name: Analytics > Graphs
      description: Get data points for graphical representation.
    - name: Analytics > Summary
      description: Get overall summary for the selected time bucket.
    - name: Analytics > Groups
      description: Get grouped metrics for the selected time bucket.

paths:
    # Note: When adding an endpoint, make sure you also add it in the `groups` section, in the end of this file,
    # under the appropriate group
    /chat/completions:
        post:
            operationId: createChatCompletion
            tags:
                - Chat
            summary: Chat
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CreateChatCompletionRequest"

            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CreateChatCompletionResponse"
            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                - lang: curl
                  source: |
                    curl https://api.portkey.ai/v1/chat/completions \
                      -H "Content-Type: application/json" \
                      -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                      -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" \
                      -d '{
                        "model": "gpt-4o",
                        "messages": [
                          {
                            "role": "system",
                            "content": "You are a helpful assistant."
                          },
                          {
                            "role": "user",
                            "content": "Hello!"
                          }
                        ]
                      }'
                - lang: python
                  source: |
                    from portkey_ai import Portkey

                    portkey = Portkey(
                      api_key = "PORTKEY_API_KEY",
                      virtual_key = "PROVIDER_VIRTUAL_KEY"
                    )

                    response = portkey.chat.completions.create(
                      model="gpt-4o",
                      messages=[
                        {"role": "system", "content": "You are a helpful assistant."},
                        {"role": "user", "content": "Hello!"}
                      ]
                    )

                    print(response.choices[0].message)
                - lang: javascript
                  source: |
                    import Portkey from 'portkey-ai';

                    const portkey = new Portkey({
                      apiKey: 'PORTKEY_API_KEY',
                      virtualKey: 'PROVIDER_VIRTUAL_KEY'
                    });

                    async function main() {
                      const response = await client.chat.completions.create({
                        messages: [{ role: "system", content: "You are a helpful assistant." }],
                        model: "gpt-4o",
                      });

                      console.log(response.choices[0]);
                    }

                    main();

    /completions:
        post:
            operationId: createCompletion
            tags:
                - Completions
            summary: Completions
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CreateCompletionRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CreateCompletionResponse"
            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                - lang: curl
                  source: |
                    curl https://api.portkey.ai/v1/completions \
                      -H "Content-Type: application/json" \
                      -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                      -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" \
                      -d '{
                        "model": "gpt-3.5-turbo-instruct",
                        "prompt": "Say this is a test",
                        "max_tokens": 7,
                        "temperature": 0
                      }'
                - lang: python
                  source: |
                    from portkey_ai import Portkey

                    portkey = Portkey(
                      api_key = "PORTKEY_API_KEY",
                      virtual_key = "PROVIDER_VIRTUAL_KEY"
                    )

                    response = portkey.completions.create(
                      model="gpt-3.5-turbo-instruct",
                      prompt="Say this is a test",
                      max_tokens=7,
                      temperature=0
                    )

                    print(response)
                - lang: javascript
                  source: |
                    import Portkey from 'portkey-ai';

                    const portkey = new Portkey({
                      apiKey: 'PORTKEY_API_KEY',
                      virtualKey: 'PROVIDER_VIRTUAL_KEY'
                    });

                    async function main() {
                      const response = await portkey.completions.create({
                        model: "gpt-3.5-turbo-instruct",
                        prompt: "Say this is a test.",
                        max_tokens: 7,
                        temperature: 0,
                      });

                      console.log(response);
                    }

                    main();

    /images/generations:
        post:
            operationId: createImage
            tags:
                - Images
            summary: Create Image
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CreateImageRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ImagesResponse"
            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                - lang: curl
                  source: |
                    curl https://api.portkey.ai/v1/images/generations \
                      -H "Content-Type: application/json" \
                      -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                      -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" \
                      -d '{
                        "model": "dall-e-3",
                        "prompt": "A cute baby sea otter",
                        "n": 1,
                        "size": "1024x1024"
                      }'
                - lang: python
                  source: |
                    from portkey_ai import Portkey

                    client = Portkey(
                      api_key = "PORTKEY_API_KEY",
                      virtual_key = "PROVIDER_VIRTUAL_KEY"
                    )

                    client.images.generate(
                      model="dall-e-3",
                      prompt="A cute baby sea otter",
                      n=1,
                      size="1024x1024"
                    )
                - lang: javascript
                  source: |
                    import Portkey from 'portkey-ai';

                    const client = new Portkey({
                      apiKey: 'PORTKEY_API_KEY',
                      virtualKey: 'PROVIDER_VIRTUAL_KEY'
                    });

                    async function main() {
                      const image = await client.images.generate({ model: "dall-e-3", prompt: "A cute baby sea otter" });

                      console.log(image.data);
                    }
                    main();

    /images/edits:
        post:
            operationId: createImageEdit
            tags:
                - Images
            summary: Create Image Edit
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            $ref: "#/components/schemas/CreateImageEditRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ImagesResponse"
            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                - lang: curl
                  source: |
                    curl https://api.portkey.ai/v1/images/edits \
                      -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                      -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" \
                      -F image="@otter.png" \
                      -F mask="@mask.png" \
                      -F prompt="A cute baby sea otter wearing a beret" \
                      -F n=2 \
                      -F size="1024x1024"
                - lang: python
                  source: |
                    from portkey_ai import Portkey

                    client = Portkey(
                      api_key = "PORTKEY_API_KEY",
                      virtual_key = "PROVIDER_VIRTUAL_KEY"
                    )

                    client.images.edit(
                      image=open("otter.png", "rb"),
                      mask=open("mask.png", "rb"),
                      prompt="A cute baby sea otter wearing a beret",
                      n=2,
                      size="1024x1024"
                    )
                - lang: javascript
                  source: |
                    import fs from "fs";
                    import Portkey from 'portkey-ai';

                    const client = new Portkey({
                      apiKey: 'PORTKEY_API_KEY',
                      virtualKey: 'PROVIDER_VIRTUAL_KEY'
                    });

                    async function main() {
                      const image = await client.images.edit({
                        image: fs.createReadStream("otter.png"),
                        mask: fs.createReadStream("mask.png"),
                        prompt: "A cute baby sea otter wearing a beret",
                      });

                      console.log(image.data);
                    }
                    main();

    /images/variations:
        post:
            operationId: createImageVariation
            tags:
                - Images
            summary: Creates Image Variation
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            $ref: "#/components/schemas/CreateImageVariationRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ImagesResponse"
            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                - lang: curl
                  source: |
                    curl https://api.portkey.ai/v1/images/variations \
                      -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                      -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" \
                      -F image="@otter.png" \
                      -F n=2 \
                      -F size="1024x1024"
                - lang: python
                  source: |
                    from portkey_ai import Portkey

                    client = Portkey(
                      api_key = "PORTKEY_API_KEY",
                      virtual_key = "PROVIDER_VIRTUAL_KEY"
                    )

                    response = client.images.create_variation(
                      image=open("image_edit_original.png", "rb"),
                      n=2,
                      size="1024x1024"
                    )
                - lang: javascript
                  source: |
                    import fs from "fs";
                    import Portkey from 'portkey-ai';

                    const client = new Portkey({
                      apiKey: 'PORTKEY_API_KEY',
                      virtualKey: 'PROVIDER_VIRTUAL_KEY'
                    });

                    async function main() {
                      const image = await client.images.createVariation({
                        image: fs.createReadStream("otter.png"),
                      });

                      console.log(image.data);
                    }
                    main();

    /embeddings:
        post:
            operationId: createEmbedding
            tags:
                - Embeddings
            summary: Embeddings
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CreateEmbeddingRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CreateEmbeddingResponse"
            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                - lang: curl
                  source: |
                    curl https://api.portkey.ai/v1/embeddings \
                      -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                      -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" \
                      -H "Content-Type: application/json" \
                      -d '{
                        "input": "The food was delicious and the waiter...",
                        "model": "text-embedding-ada-002",
                        "encoding_format": "float"
                      }'
                - lang: python
                  source: |
                    from portkey_ai import Portkey

                    client = Portkey(
                      api_key = "PORTKEY_API_KEY",
                      virtual_key = "PROVIDER_VIRTUAL_KEY"
                    )

                    client.embeddings.create(
                      model="text-embedding-ada-002",
                      input="The food was delicious and the waiter...",
                      encoding_format="float"
                    )
                - lang: javascript
                  source: |
                    import Portkey from 'portkey-ai';

                    const client = new Portkey({
                      apiKey: 'PORTKEY_API_KEY',
                      virtualKey: 'PROVIDER_VIRTUAL_KEY'
                    });

                    async function main() {
                      const embedding = await client.embeddings.create({
                        model: "text-embedding-ada-002",
                        input: "The quick brown fox jumped over the lazy dog",
                        encoding_format: "float",
                      });

                      console.log(embedding);
                    }

                    main();

    /audio/speech:
        post:
            operationId: createSpeech
            tags:
                - Audio
            summary: Create Speech
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CreateSpeechRequest"
            responses:
                "200":
                    description: OK
                    headers:
                        Transfer-Encoding:
                            schema:
                                type: string
                            description: chunked
                    content:
                        application/octet-stream:
                            schema:
                                type: string
                                format: binary

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                - lang: curl
                  source: |
                    curl https://api.portkey.ai/v1/audio/speech \
                      -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                      -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" \
                      -H "Content-Type: application/json" \
                      -d '{
                        "model": "tts-1",
                        "input": "The quick brown fox jumped over the lazy dog.",
                        "voice": "alloy"
                      }' \
                      --output speech.mp3
                - lang: python
                  source: |
                    from pathlib import Path
                    from portkey_ai import Portkey

                    client = Portkey(
                      api_key = "PORTKEY_API_KEY",
                      virtual_key = "PROVIDER_VIRTUAL_KEY"
                    )

                    speech_file_path = Path(__file__).parent / "speech.mp3"
                    response = client.audio.speech.create(
                      model="tts-1",
                      voice="alloy",
                      input="The quick brown fox jumped over the lazy dog."
                    )
                    response.stream_to_file(speech_file_path)
                - lang: javascript
                  source: |
                    import fs from "fs";
                    import path from "path";
                    import Portkey from 'portkey-ai';

                    const client = new Portkey({
                      apiKey: 'PORTKEY_API_KEY',
                      virtualKey: 'PROVIDER_VIRTUAL_KEY'
                    });

                    const speechFile = path.resolve("./speech.mp3");

                    async function main() {
                      const mp3 = await client.audio.speech.create({
                        model: "tts-1",
                        voice: "alloy",
                        input: "Today is a wonderful day to build something people love!",
                      });
                      console.log(speechFile);
                      const buffer = Buffer.from(await mp3.arrayBuffer());
                      await fs.promises.writeFile(speechFile, buffer);
                    }
                    main();

    /audio/transcriptions:
        post:
            operationId: createTranscription
            tags:
                - Audio
            summary: Create Transcription
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            $ref: "#/components/schemas/CreateTranscriptionRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: "#/components/schemas/CreateTranscriptionResponseJson"
                                    - $ref: "#/components/schemas/CreateTranscriptionResponseVerboseJson"

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                - lang: curl
                  source: |
                    curl https://api.portkey.ai/v1/audio/transcriptions \
                      -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                      -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" \
                      -H "Content-Type: multipart/form-data" \
                      -F file="@/path/to/file/audio.mp3" \
                      -F model="whisper-1"
                - lang: python
                  source: |
                    from portkey_ai import Portkey

                    client = Portkey(
                      api_key = "PORTKEY_API_KEY",
                      virtual_key = "PROVIDER_VIRTUAL_KEY"
                    )

                    audio_file = open("speech.mp3", "rb")
                    transcript = client.audio.transcriptions.create(
                      model="whisper-1",
                      file=audio_file
                    )
                - lang: javascript
                  source: |
                    import fs from "fs";
                    import Portkey from 'portkey-ai';

                    const client = new Portkey({
                      apiKey: 'PORTKEY_API_KEY',
                      virtualKey: 'PROVIDER_VIRTUAL_KEY'
                    });

                    async function main() {
                      const transcription = await client.audio.transcriptions.create({
                        file: fs.createReadStream("audio.mp3"),
                        model: "whisper-1",
                      });

                      console.log(transcription.text);
                    }
                    main();

    /audio/translations:
        post:
            operationId: createTranslation
            tags:
                - Audio
            summary: Create Translation
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            $ref: "#/components/schemas/CreateTranslationRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: "#/components/schemas/CreateTranslationResponseJson"
                                    - $ref: "#/components/schemas/CreateTranslationResponseVerboseJson"

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                - lang: curl
                  source: |
                    curl https://api.portkey.ai/v1/audio/translations \
                      -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                      -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" \
                      -H "Content-Type: multipart/form-data" \
                      -F file="@/path/to/file/german.m4a" \
                      -F model="whisper-1"
                - lang: python
                  source: |
                    from portkey_ai import Portkey

                    client = Portkey(
                      api_key = "PORTKEY_API_KEY",
                      virtual_key = "PROVIDER_VIRTUAL_KEY"
                    )

                    audio_file = open("speech.mp3", "rb")
                    transcript = client.audio.translations.create(
                      model="whisper-1",
                      file=audio_file
                    )
                - lang: javascript
                  source: |
                    import fs from "fs";
                    import Portkey from 'portkey-ai';

                    const client = new Portkey({
                      apiKey: 'PORTKEY_API_KEY',
                      virtualKey: 'PROVIDER_VIRTUAL_KEY'
                    });

                    async function main() {
                        const translation = await client.audio.translations.create({
                            file: fs.createReadStream("speech.mp3"),
                            model: "whisper-1",
                        });

                        console.log(translation.text);
                    }
                    main();

    /files:
        get:
            operationId: listFiles
            tags:
                - Files
            summary: List Files
            parameters:
                - in: query
                  name: purpose
                  required: false
                  schema:
                      type: string
                  description: Only return files with the given purpose.
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ListFilesResponse"

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                - lang: curl
                  source: |
                    curl https://api.portkey.ai/v1/files \
                      -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                      -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" \
                - lang: python
                  source: |
                    from portkey_ai import Portkey

                    client = Portkey(
                      api_key = "PORTKEY_API_KEY",
                      virtual_key = "PROVIDER_VIRTUAL_KEY"
                    )

                    client.files.list()
                - lang: javascript
                  source: |
                    import Portkey from 'portkey-ai';

                    const client = new Portkey({
                      apiKey: 'PORTKEY_API_KEY',
                      virtualKey: 'PROVIDER_VIRTUAL_KEY'
                    });

                    async function main() {
                      const list = await client.files.list();

                      for await (const file of list) {
                        console.log(file);
                      }
                    }

                    main();

        post:
            operationId: createFile
            tags:
                - Files
            summary: |
                Upload a file to be used across various endpoints, such as Assistant (<2M tokens), Fine-Tuning, and Batch (<100 MB). Total size of your bucket is 100 GB.
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            $ref: "#/components/schemas/CreateFileRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/OpenAIFile"

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                - lang: curl
                  source: |
                    curl https://api.portkey.ai/v1/files \
                      -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                      -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" \
                      -F purpose="fine-tune" \
                      -F file="@mydata.jsonl"
                - lang: python
                  source: |
                    from portkey_ai import Portkey

                    client = Portkey(
                      api_key = "PORTKEY_API_KEY",
                      virtual_key = "PROVIDER_VIRTUAL_KEY"
                    )

                    client.files.create(
                      file=open("mydata.jsonl", "rb"),
                      purpose="fine-tune"
                    )
                - lang: javascript
                  source: |
                    import fs from "fs";
                    import Portkey from 'portkey-ai';

                    const client = new Portkey({
                      apiKey: 'PORTKEY_API_KEY',
                      virtualKey: 'PROVIDER_VIRTUAL_KEY'
                    });

                    async function main() {
                      const file = await client.files.create({
                        file: fs.createReadStream("mydata.jsonl"),
                        purpose: "fine-tune",
                      });

                      console.log(file);
                    }

                    main();

    /files/{file_id}:
        delete:
            operationId: deleteFile
            tags:
                - Files
            summary: Delete File
            parameters:
                - in: path
                  name: file_id
                  required: true
                  schema:
                      type: string
                  description: The ID of the file to use for this request.
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DeleteFileResponse"

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                - lang: curl
                  source: |
                    curl https://api.portkey.ai/v1/files/file-abc123 \
                      -X DELETE \
                      -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                      -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" \
                - lang: python
                  source: |
                    from portkey_ai import Portkey

                    client = Portkey(
                      api_key = "PORTKEY_API_KEY",
                      virtual_key = "PROVIDER_VIRTUAL_KEY"
                    )

                    client.files.delete("file-abc123")
                - lang: javascript
                  source: |
                    import Portkey from 'portkey-ai';

                    const client = new Portkey({
                      apiKey: 'PORTKEY_API_KEY',
                      virtualKey: 'PROVIDER_VIRTUAL_KEY'
                    });

                    async function main() {
                      const file = await client.files.del("file-abc123");

                      console.log(file);
                    }

                    main();

        get:
            operationId: retrieveFile
            tags:
                - Files
            summary: Returns information about a specific file.
            parameters:
                - in: path
                  name: file_id
                  required: true
                  schema:
                      type: string
                  description: The ID of the file to use for this request.
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/OpenAIFile"

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                - lang: curl
                  source: |
                    curl https://api.portkey.ai/v1/files/file-abc123 \
                      -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                      -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY"
                - lang: python
                  source: |
                    from portkey_ai import Portkey

                    client = Portkey(
                      api_key = "PORTKEY_API_KEY",
                      virtual_key = "PROVIDER_VIRTUAL_KEY"
                    )

                    client.files.retrieve("file-abc123")
                - lang: javascript
                  source: |
                    import Portkey from 'portkey-ai';

                    const client = new Portkey({
                      apiKey: 'PORTKEY_API_KEY',
                      virtualKey: 'PROVIDER_VIRTUAL_KEY'
                    });

                    async function main() {
                      const file = await client.files.retrieve("file-abc123");

                      console.log(file);
                    }

                    main();

    /files/{file_id}/content:
        get:
            operationId: downloadFile
            tags:
                - Files
            summary: Returns the contents of the specified file.
            parameters:
                - in: path
                  name: file_id
                  required: true
                  schema:
                      type: string
                  description: The ID of the file to use for this request.
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: string

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                - lang: curl
                  source: |
                    curl https://api.portkey.ai/v1/files/file-abc123/content \
                    -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                    -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" > file.jsonl
                - lang: python
                  source: |
                    from portkey_ai import Portkey

                    client = Portkey(
                      api_key = "PORTKEY_API_KEY",
                      virtual_key = "PROVIDER_VIRTUAL_KEY"
                    )

                    content = client.files.content("file-abc123")
                - lang: javascript
                  source: |
                    import Portkey from 'portkey-ai';

                    const client = new Portkey({
                      apiKey: 'PORTKEY_API_KEY',
                      virtualKey: 'PROVIDER_VIRTUAL_KEY'
                    });

                    async function main() {
                      const file = await client.files.content("file-abc123");

                      console.log(file);
                    }

                    main();

    /fine_tuning/jobs:
        post:
            operationId: createFineTuningJob
            tags:
                - Fine-tuning
            summary: |
                Creates a fine-tuning job which begins the process of creating a new model from a given dataset.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CreateFineTuningJobRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/FineTuningJob"

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                - lang: curl
                  source: |
                    curl https://api.portkey.ai/v1/fine_tuning/jobs \
                      -H "Content-Type: application/json" \
                      -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                      -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" \
                      -d '{
                        "training_file": "file-BK7bzQj3FfZFXr7DbL6xJwfo",
                        "model": "gpt-3.5-turbo"
                      }'
                - lang: python
                  source: |
                    from portkey_ai import Portkey

                    client = Portkey(
                      api_key = "PORTKEY_API_KEY",
                      virtual_key = "PROVIDER_VIRTUAL_KEY"
                    )

                    client.fine_tuning.jobs.create(
                      training_file="file-abc123",
                      model="gpt-3.5-turbo"
                    )
                - lang: javascript
                  source: |
                    import Portkey from 'portkey-ai';

                    const client = new Portkey({
                      apiKey: 'PORTKEY_API_KEY',
                      virtualKey: 'PROVIDER_VIRTUAL_KEY'
                    });

                    async function main() {
                      const fineTune = await client.fineTuning.jobs.create({
                        training_file: "file-abc123"
                      });

                      console.log(fineTune);
                    }

                    main();

        get:
            operationId: listPaginatedFineTuningJobs
            tags:
                - Fine-tuning
            summary: |
                List your organization's fine-tuning jobs
            parameters:
                - name: after
                  in: query
                  description: Identifier for the last job from the previous pagination request.
                  required: false
                  schema:
                      type: string
                - name: limit
                  in: query
                  description: Number of fine-tuning jobs to retrieve.
                  required: false
                  schema:
                      type: integer
                      default: 20
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ListPaginatedFineTuningJobsResponse"

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                - lang: curl
                  source: |
                    curl https://api.portkey.ai/v1/fine_tuning/jobs?limit=2 \
                      -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                      -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY"
                - lang: python
                  source: |
                    from portkey_ai import Portkey

                    client = Portkey(
                      api_key = "PORTKEY_API_KEY",
                      virtual_key = "PROVIDER_VIRTUAL_KEY"
                    )

                    client.fine_tuning.jobs.list()
                - lang: javascript
                  source: |
                    import Portkey from 'portkey-ai';

                    const client = new Portkey({
                      apiKey: 'PORTKEY_API_KEY',
                      virtualKey: 'PROVIDER_VIRTUAL_KEY'
                    });

                    async function main() {
                      const list = await client.fineTuning.jobs.list();

                      for await (const fineTune of list) {
                        console.log(fineTune);
                      }
                    }

                    main();

    /fine_tuning/jobs/{fine_tuning_job_id}:
        get:
            operationId: retrieveFineTuningJob
            tags:
                - Fine-tuning
            summary: |
                Get info about a fine-tuning job.

                [Learn more about fine-tuning](https://platform.openai.com/docs/guides/fine-tuning)
            parameters:
                - in: path
                  name: fine_tuning_job_id
                  required: true
                  schema:
                      type: string
                      example: ft-AF1WoRqd3aJAHsqc9NY7iL8F
                  description: |
                      The ID of the fine-tuning job.
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/FineTuningJob"

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                - lang: curl
                  source: |
                    curl https://api.portkey.ai/v1/fine_tuning/jobs/ft-AF1WoRqd3aJAHsqc9NY7iL8F \
                      -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                      -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY"
                - lang: python
                  source: |
                    from portkey_ai import Portkey

                    client = Portkey(
                      api_key = "PORTKEY_API_KEY",
                      virtual_key = "PROVIDER_VIRTUAL_KEY"
                    )

                    client.fine_tuning.jobs.retrieve("ftjob-abc123")
                - lang: javascript
                  source: |
                    import Portkey from 'portkey-ai';

                    const client = new Portkey({
                      apiKey: 'PORTKEY_API_KEY',
                      virtualKey: 'PROVIDER_VIRTUAL_KEY'
                    });

                    async function main() {
                      const fineTune = await client.fineTuning.jobs.retrieve("ftjob-abc123");

                      console.log(fineTune);
                    }

                    main();

    /fine_tuning/jobs/{fine_tuning_job_id}/events:
        get:
            operationId: listFineTuningEvents
            tags:
                - Fine-tuning
            summary: |
                Get status updates for a fine-tuning job.
            parameters:
                - in: path
                  name: fine_tuning_job_id
                  required: true
                  schema:
                      type: string
                      example: ft-AF1WoRqd3aJAHsqc9NY7iL8F
                  description: |
                      The ID of the fine-tuning job to get events for.
                - name: after
                  in: query
                  description: Identifier for the last event from the previous pagination request.
                  required: false
                  schema:
                      type: string
                - name: limit
                  in: query
                  description: Number of events to retrieve.
                  required: false
                  schema:
                      type: integer
                      default: 20
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ListFineTuningJobEventsResponse"

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                - lang: curl
                  source: |
                    curl https://api.portkey.ai/v1/fine_tuning/jobs/ftjob-abc123/events \
                      -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                      -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY"
                - lang: python
                  source: |
                    from portkey_ai import Portkey

                    client = Portkey(
                      api_key = "PORTKEY_API_KEY",
                      virtual_key = "PROVIDER_VIRTUAL_KEY"
                    )

                    client.fine_tuning.jobs.list_events(
                      fine_tuning_job_id="ftjob-abc123",
                      limit=2
                    )
                - lang: javascript
                  source: |
                    import Portkey from 'portkey-ai';

                    const client = new Portkey({
                      apiKey: 'PORTKEY_API_KEY',
                      virtualKey: 'PROVIDER_VIRTUAL_KEY'
                    });

                    async function main() {
                      const list = await client.fineTuning.list_events(id="ftjob-abc123", limit=2);

                      for await (const fineTune of list) {
                        console.log(fineTune);
                      }
                    }

                    main();

    /fine_tuning/jobs/{fine_tuning_job_id}/cancel:
        post:
            operationId: cancelFineTuningJob
            tags:
                - Fine-tuning
            summary: |
                Immediately cancel a fine-tune job.
            parameters:
                - in: path
                  name: fine_tuning_job_id
                  required: true
                  schema:
                      type: string
                      example: ft-AF1WoRqd3aJAHsqc9NY7iL8F
                  description: |
                      The ID of the fine-tuning job to cancel.
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/FineTuningJob"

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                - lang: curl
                  source: |
                    curl -X POST https://api.portkey.ai/v1/fine_tuning/jobs/ftjob-abc123/cancel \
                      -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                      -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY"
                - lang: python
                  source: |
                    from portkey_ai import Portkey

                    client = Portkey(
                      api_key = "PORTKEY_API_KEY",
                      virtual_key = "PROVIDER_VIRTUAL_KEY"
                    )

                    client.fine_tuning.jobs.cancel("ftjob-abc123")
                - lang: javascript
                  source: |
                    import Portkey from 'portkey-ai';

                    const client = new Portkey({
                      apiKey: 'PORTKEY_API_KEY',
                      virtualKey: 'PROVIDER_VIRTUAL_KEY'
                    });

                    async function main() {
                      const fineTune = await client.fineTuning.jobs.cancel("ftjob-abc123");

                      console.log(fineTune);
                    }
                    main();

    /fine_tuning/jobs/{fine_tuning_job_id}/checkpoints:
        get:
            operationId: listFineTuningJobCheckpoints
            tags:
                - Fine-tuning
            summary: |
                List checkpoints for a fine-tuning job.
            parameters:
                - in: path
                  name: fine_tuning_job_id
                  required: true
                  schema:
                      type: string
                      example: ft-AF1WoRqd3aJAHsqc9NY7iL8F
                  description: |
                      The ID of the fine-tuning job to get checkpoints for.
                - name: after
                  in: query
                  description: Identifier for the last checkpoint ID from the previous pagination request.
                  required: false
                  schema:
                      type: string
                - name: limit
                  in: query
                  description: Number of checkpoints to retrieve.
                  required: false
                  schema:
                      type: integer
                      default: 10
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ListFineTuningJobCheckpointsResponse"

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                - lang: curl
                  source: |
                    curl https://api.portkey.ai/v1/fine_tuning/jobs/ftjob-abc123/checkpoints \
                      -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                      -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY"
                - lang: python
                  source: |
                    Reach out to us on portkey.wiki/community
                - lang: javascript
                  source: |
                    Reach out to us on portkey.wiki/community

    /models:
        get:
            operationId: listModels
            tags:
                - Models
            summary: Lists the currently available models, and provides basic information about each one such as the owner and availability.
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ListModelsResponse"

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                - lang: curl
                  source: |
                    curl https://api.portkey.ai/v1/models \
                      -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                      -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY"
                - lang: python
                  source: |
                      from portkey_ai import Portkey

                      client = Portkey(
                        api_key = "PORTKEY_API_KEY",
                        virtual_key = "PROVIDER_VIRTUAL_KEY"
                      )

                      client.models.list()
                - lang: javascript
                  source: |
                      import Portkey from 'portkey-ai';

                      const client = new Portkey({
                        apiKey: 'PORTKEY_API_KEY',
                        virtualKey: 'PROVIDER_VIRTUAL_KEY'
                      });

                      async function main() {
                        const list = await client.models.list();

                        for await (const model of list) {
                          console.log(model);
                        }
                      }
                      main();

    /models/{model}:
        get:
            operationId: retrieveModel
            tags:
                - Models
            summary: Retrieves a model instance, providing basic information about the model such as the owner and permissioning.
            parameters:
                - in: path
                  name: model
                  required: true
                  schema:
                      type: string
                      # ideally this will be an actual ID, so this will always work from browser
                      example: gpt-3.5-turbo
                  description: The ID of the model to use for this request
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Model"

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                - lang: curl
                  source: |
                    curl https://api.portkey.ai/v1/models/VAR_model_id \
                      -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                      -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" \
                - lang: python
                  source: |
                    from portkey_ai import Portkey

                    client = Portkey(
                      api_key = "PORTKEY_API_KEY",
                      virtual_key = "PROVIDER_VIRTUAL_KEY"
                    )

                    client.models.retrieve("VAR_model_id")
                - lang: javascript
                  source: |
                    import Portkey from 'portkey-ai';

                    const client = new Portkey({
                      apiKey: 'PORTKEY_API_KEY',
                      virtualKey: 'PROVIDER_VIRTUAL_KEY'
                    });

                    async function main() {
                      const model = await client.models.retrieve("VAR_model_id");

                      console.log(model);
                    }

                    main();

        delete:
            operationId: deleteModel
            tags:
                - Models
            summary: Delete a fine-tuned model. You must have the Owner role in your organization to delete a model.
            parameters:
                - in: path
                  name: model
                  required: true
                  schema:
                      type: string
                      example: ft:gpt-3.5-turbo:acemeco:suffix:abc123
                  description: The model to delete
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DeleteModelResponse"

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
              - lang: curl
                source: |
                  curl https://api.portkey.ai/v1/models/ft:gpt-3.5-turbo:acemeco:suffix:abc123 \
                    -X DELETE \
                    -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                    -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY"
              - lang: python
                source: |
                  from portkey_ai import Portkey

                  client = Portkey(
                    api_key = "PORTKEY_API_KEY",
                    virtual_key = "PROVIDER_VIRTUAL_KEY"
                  )

                  client.models.delete("ft:gpt-3.5-turbo:acemeco:suffix:abc123")
              - lang: javascript
                source: |
                  import Portkey from 'portkey-ai';

                  const client = new Portkey({
                    apiKey: 'PORTKEY_API_KEY',
                    virtualKey: 'PROVIDER_VIRTUAL_KEY'
                  });

                  async function main() {
                    const model = await client.models.del("ft:gpt-3.5-turbo:acemeco:suffix:abc123");

                    console.log(model);
                  }
                  main();

    /moderations:
        post:
            operationId: createModeration
            tags:
                - Moderations
            summary: Classifies if text is potentially harmful.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CreateModerationRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CreateModerationResponse"

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
              - lang: curl
                source: |
                  curl https://api.portkey.ai/v1/moderations \
                    -H "Content-Type: application/json" \
                    -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                    -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" \
                    -d '{
                      "input": "I want to kill them."
                    }'
              - lang: python
                source: |
                  from portkey_ai import Portkey

                  client = Portkey(
                    api_key = "PORTKEY_API_KEY",
                    virtual_key = "PROVIDER_VIRTUAL_KEY"
                  )

                  moderation = client.moderations.create(input="I want to kill them.")
                  print(moderation)
              - lang: javascript
                source: |
                  import Portkey from 'portkey-ai';

                  const client = new Portkey({
                    apiKey: 'PORTKEY_API_KEY',
                    virtualKey: 'PROVIDER_VIRTUAL_KEY'
                  });

                  async function main() {
                    const moderation = await client.moderations.create({ input: "I want to kill them." });

                    console.log(moderation);
                  }
                  main();

    /assistants:
        get:
            operationId: listAssistants
            tags:
                - Assistants
            summary: Returns a list of assistants.
            parameters:
                - name: limit
                  in: query
                  description: &pagination_limit_param_description |
                      A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.
                  required: false
                  schema:
                      type: integer
                      default: 20
                - name: order
                  in: query
                  description: &pagination_order_param_description |
                      Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.
                  schema:
                      type: string
                      default: desc
                      enum: ["asc", "desc"]
                - name: after
                  in: query
                  description: &pagination_after_param_description |
                      A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.
                  schema:
                      type: string
                - name: before
                  in: query
                  description: &pagination_before_param_description |
                      A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list.
                  schema:
                      type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ListAssistantsResponse"

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                name: List assistants
                group: assistants
                beta: true
                returns: A list of [assistant](https://platform.openai.com/docs/api-reference/assistants/object) objects.
                examples:
                    request:
                        curl: |
                            curl "https://api.portkey.ai/v1/assistants?order=desc&limit=20" \
                              -H "Content-Type: application/json" \
                              -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                              -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" \
                              -H "OpenAI-Beta: assistants=v2"
                        python: |
                            from portkey_ai import Portkey

                            client = Portkey(
                              api_key = "PORTKEY_API_KEY",
                              virtual_key = "PROVIDER_VIRTUAL_KEY"
                            )

                            my_assistants = client.beta.assistants.list(
                                order="desc",
                                limit="20",
                            )
                            print(my_assistants.data)
                        node.js: |-
                            import Portkey from 'portkey-ai';

                            const client = new Portkey({
                              apiKey: 'PORTKEY_API_KEY',
                              virtualKey: 'PROVIDER_VIRTUAL_KEY'
                            });

                            async function main() {
                              const myAssistants = await client.beta.assistants.list({
                                order: "desc",
                                limit: "20",
                              });

                              console.log(myAssistants.data);
                            }

                            main();
                    response: &list_assistants_example |
                        {
                          "object": "list",
                          "data": [
                            {
                              "id": "asst_abc123",
                              "object": "assistant",
                              "created_at": 1698982736,
                              "name": "Coding Tutor",
                              "description": null,
                              "model": "gpt-4-turbo",
                              "instructions": "You are a helpful assistant designed to make me better at coding!",
                              "tools": [],
                              "tool_resources": {},
                              "metadata": {},
                              "top_p": 1.0,
                              "temperature": 1.0,
                              "response_format": "auto"
                            },
                            {
                              "id": "asst_abc456",
                              "object": "assistant",
                              "created_at": 1698982718,
                              "name": "My Assistant",
                              "description": null,
                              "model": "gpt-4-turbo",
                              "instructions": "You are a helpful assistant designed to make me better at coding!",
                              "tools": [],
                              "tool_resources": {},
                              "metadata": {},
                              "top_p": 1.0,
                              "temperature": 1.0,
                              "response_format": "auto"
                            },
                            {
                              "id": "asst_abc789",
                              "object": "assistant",
                              "created_at": 1698982643,
                              "name": null,
                              "description": null,
                              "model": "gpt-4-turbo",
                              "instructions": null,
                              "tools": [],
                              "tool_resources": {},
                              "metadata": {},
                              "top_p": 1.0,
                              "temperature": 1.0,
                              "response_format": "auto"
                            }
                          ],
                          "first_id": "asst_abc123",
                          "last_id": "asst_abc789",
                          "has_more": false
                        }
        post:
            operationId: createAssistant
            tags:
                - Assistants
            summary: Create an assistant with a model and instructions.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CreateAssistantRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/AssistantObject"

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                name: Create assistant
                group: assistants
                beta: true
                returns: An [assistant](https://platform.openai.com/docs/api-reference/assistants/object) object.
                examples:
                    - title: Code Interpreter
                      request:
                          curl: |
                              curl "https://api.portkey.ai/v1/assistants" \
                                -H "Content-Type: application/json" \
                                -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                                -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" \
                                -H "OpenAI-Beta: assistants=v2" \
                                -d '{
                                  "instructions": "You are a personal math tutor. When asked a question, write and run Python code to answer the question.",
                                  "name": "Math Tutor",
                                  "tools": [{"type": "code_interpreter"}],
                                  "model": "gpt-4-turbo"
                                }'

                          python: |
                              from portkey_ai import Portkey

                              client = Portkey(
                                api_key = "PORTKEY_API_KEY",
                                virtual_key = "PROVIDER_VIRTUAL_KEY"
                              )

                              my_assistant = client.beta.assistants.create(
                                  instructions="You are a personal math tutor. When asked a question, write and run Python code to answer the question.",
                                  name="Math Tutor",
                                  tools=[{"type": "code_interpreter"}],
                                  model="gpt-4-turbo",
                              )
                              print(my_assistant)
                          node.js: |-
                              import Portkey from 'portkey-ai';

                              const client = new Portkey({
                                apiKey: 'PORTKEY_API_KEY',
                                virtualKey: 'PROVIDER_VIRTUAL_KEY'
                              });

                              async function main() {
                                const myAssistant = await client.beta.assistants.create({
                                  instructions:
                                    "You are a personal math tutor. When asked a question, write and run Python code to answer the question.",
                                  name: "Math Tutor",
                                  tools: [{ type: "code_interpreter" }],
                                  model: "gpt-4-turbo",
                                });

                                console.log(myAssistant);
                              }

                              main();
                      response: &create_assistants_example |
                          {
                            "id": "asst_abc123",
                            "object": "assistant",
                            "created_at": 1698984975,
                            "name": "Math Tutor",
                            "description": null,
                            "model": "gpt-4-turbo",
                            "instructions": "You are a personal math tutor. When asked a question, write and run Python code to answer the question.",
                            "tools": [
                              {
                                "type": "code_interpreter"
                              }
                            ],
                            "metadata": {},
                            "top_p": 1.0,
                            "temperature": 1.0,
                            "response_format": "auto"
                          }
                    - title: Files
                      request:
                          curl: |
                              curl https://api.portkey.ai/v1/assistants \
                                -H "Content-Type: application/json" \
                                -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                                -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" \
                                -H "OpenAI-Beta: assistants=v2" \
                                -d '{
                                  "instructions": "You are an HR bot, and you have access to files to answer employee questions about company policies.",
                                  "tools": [{"type": "file_search"}],
                                  "tool_resources": {"file_search": {"vector_store_ids": ["vs_123"]}},
                                  "model": "gpt-4-turbo"
                                }'
                          python: |
                              from portkey_ai import Portkey

                              client = Portkey(
                                api_key = "PORTKEY_API_KEY",
                                virtual_key = "PROVIDER_VIRTUAL_KEY"
                              )

                              my_assistant = client.beta.assistants.create(
                                  instructions="You are an HR bot, and you have access to files to answer employee questions about company policies.",
                                  name="HR Helper",
                                  tools=[{"type": "file_search"}],
                                  tool_resources={"file_search": {"vector_store_ids": ["vs_123"]}},
                                  model="gpt-4-turbo"
                              )
                              print(my_assistant)
                          node.js: |-
                              import Portkey from 'portkey-ai';

                              const client = new Portkey({
                                apiKey: 'PORTKEY_API_KEY',
                                virtualKey: 'PROVIDER_VIRTUAL_KEY'
                              });

                              async function main() {
                                const myAssistant = await client.beta.assistants.create({
                                  instructions:
                                    "You are an HR bot, and you have access to files to answer employee questions about company policies.",
                                  name: "HR Helper",
                                  tools: [{ type: "file_search" }],
                                  tool_resources: {
                                    file_search: {
                                      vector_store_ids: ["vs_123"]
                                    }
                                  },
                                  model: "gpt-4-turbo"
                                });

                                console.log(myAssistant);
                              }

                              main();
                      response: |
                          {
                            "id": "asst_abc123",
                            "object": "assistant",
                            "created_at": 1699009403,
                            "name": "HR Helper",
                            "description": null,
                            "model": "gpt-4-turbo",
                            "instructions": "You are an HR bot, and you have access to files to answer employee questions about company policies.",
                            "tools": [
                              {
                                "type": "file_search"
                              }
                            ],
                            "tool_resources": {
                              "file_search": {
                                "vector_store_ids": ["vs_123"]
                              }
                            },
                            "metadata": {},
                            "top_p": 1.0,
                            "temperature": 1.0,
                            "response_format": "auto"
                          }

    /assistants/{assistant_id}:
        get:
            operationId: getAssistant
            tags:
                - Assistants
            summary: Retrieves an assistant.
            parameters:
                - in: path
                  name: assistant_id
                  required: true
                  schema:
                      type: string
                  description: The ID of the assistant to retrieve.
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/AssistantObject"

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                name: Retrieve assistant
                group: assistants
                beta: true
                returns: The [assistant](https://platform.openai.com/docs/api-reference/assistants/object) object matching the specified ID.
                examples:
                    request:
                        curl: |
                            curl https://api.portkey.ai/v1/assistants/asst_abc123 \
                              -H "Content-Type: application/json" \
                              -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                              -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" \
                              -H "OpenAI-Beta: assistants=v2"
                        python: |
                            from portkey_ai import Portkey

                            client = Portkey(
                              api_key = "PORTKEY_API_KEY",
                              virtual_key = "PROVIDER_VIRTUAL_KEY"
                            )

                            my_assistant = client.beta.assistants.retrieve("asst_abc123")
                            print(my_assistant)
                        node.js: |-
                            import Portkey from 'portkey-ai';

                            const client = new Portkey({
                              apiKey: 'PORTKEY_API_KEY',
                              virtualKey: 'PROVIDER_VIRTUAL_KEY'
                            });

                            async function main() {
                              const myAssistant = await client.beta.assistants.retrieve(
                                "asst_abc123"
                              );

                              console.log(myAssistant);
                            }

                            main();
                    response: |
                        {
                          "id": "asst_abc123",
                          "object": "assistant",
                          "created_at": 1699009709,
                          "name": "HR Helper",
                          "description": null,
                          "model": "gpt-4-turbo",
                          "instructions": "You are an HR bot, and you have access to files to answer employee questions about company policies.",
                          "tools": [
                            {
                              "type": "file_search"
                            }
                          ],
                          "metadata": {},
                          "top_p": 1.0,
                          "temperature": 1.0,
                          "response_format": "auto"
                        }
        post:
            operationId: modifyAssistant
            tags:
                - Assistants
            summary: Modifies an assistant.
            parameters:
                - in: path
                  name: assistant_id
                  required: true
                  schema:
                      type: string
                  description: The ID of the assistant to modify.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/ModifyAssistantRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/AssistantObject"

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                name: Modify assistant
                group: assistants
                beta: true
                returns: The modified [assistant](https://platform.openai.com/docs/api-reference/assistants/object) object.
                examples:
                    request:
                        curl: |
                            curl https://api.portkey.ai/v1/assistants/asst_abc123 \
                              -H "Content-Type: application/json" \
                              -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                              -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" \
                              -H "OpenAI-Beta: assistants=v2" \
                              -d '{
                                  "instructions": "You are an HR bot, and you have access to files to answer employee questions about company policies. Always response with info from either of the files.",
                                  "tools": [{"type": "file_search"}],
                                  "model": "gpt-4-turbo"
                                }'
                        python: |
                            from portkey_ai import Portkey

                            client = Portkey(
                              api_key = "PORTKEY_API_KEY",
                              virtual_key = "PROVIDER_VIRTUAL_KEY"
                            )

                            my_updated_assistant = client.beta.assistants.update(
                              "asst_abc123",
                              instructions="You are an HR bot, and you have access to files to answer employee questions about company policies. Always response with info from either of the files.",
                              name="HR Helper",
                              tools=[{"type": "file_search"}],
                              model="gpt-4-turbo"
                            )

                            print(my_updated_assistant)
                        node.js: |-
                            import Portkey from 'portkey-ai';

                            const client = new Portkey({
                              apiKey: 'PORTKEY_API_KEY',
                              virtualKey: 'PROVIDER_VIRTUAL_KEY'
                            });

                            async function main() {
                              const myUpdatedAssistant = await client.beta.assistants.update(
                                "asst_abc123",
                                {
                                  instructions:
                                    "You are an HR bot, and you have access to files to answer employee questions about company policies. Always response with info from either of the files.",
                                  name: "HR Helper",
                                  tools: [{ type: "file_search" }],
                                  model: "gpt-4-turbo"
                                }
                              );

                              console.log(myUpdatedAssistant);
                            }

                            main();
                    response: |
                        {
                          "id": "asst_123",
                          "object": "assistant",
                          "created_at": 1699009709,
                          "name": "HR Helper",
                          "description": null,
                          "model": "gpt-4-turbo",
                          "instructions": "You are an HR bot, and you have access to files to answer employee questions about company policies. Always response with info from either of the files.",
                          "tools": [
                            {
                              "type": "file_search"
                            }
                          ],
                          "tool_resources": {
                            "file_search": {
                              "vector_store_ids": []
                            }
                          },
                          "metadata": {},
                          "top_p": 1.0,
                          "temperature": 1.0,
                          "response_format": "auto"
                        }
        delete:
            operationId: deleteAssistant
            tags:
                - Assistants
            summary: Delete an assistant.
            parameters:
                - in: path
                  name: assistant_id
                  required: true
                  schema:
                      type: string
                  description: The ID of the assistant to delete.
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DeleteAssistantResponse"

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                name: Delete assistant
                group: assistants
                beta: true
                returns: Deletion status
                examples:
                    request:
                        curl: |
                            curl https://api.portkey.ai/v1/assistants/asst_abc123 \
                              -H "Content-Type: application/json" \
                              -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                              -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" \
                              -H "OpenAI-Beta: assistants=v2" \
                              -X DELETE
                        python: |
                            from portkey_ai import Portkey

                            client = Portkey(
                              api_key = "PORTKEY_API_KEY",
                              virtual_key = "PROVIDER_VIRTUAL_KEY"
                            )

                            response = client.beta.assistants.delete("asst_abc123")
                            print(response)
                        node.js: |-
                            import Portkey from 'portkey-ai';

                            const client = new Portkey({
                              apiKey: 'PORTKEY_API_KEY',
                              virtualKey: 'PROVIDER_VIRTUAL_KEY'
                            });

                            async function main() {
                              const response = await client.beta.assistants.del("asst_abc123");

                              console.log(response);
                            }
                            main();
                    response: |
                        {
                          "id": "asst_abc123",
                          "object": "assistant.deleted",
                          "deleted": true
                        }

    /threads:
        post:
            operationId: createThread
            tags:
                - Assistants
            summary: Create a thread.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CreateThreadRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ThreadObject"

            security:
              - Portkey-Key: []
                Virtual-Key: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
              - Portkey-Key: []
                Config: []
              - Portkey-Key: []
                Provider-Auth: []
                Provider-Name: []
                Custom-Host: []

            x-code-samples:
                name: Create thread
                group: threads
                beta: true
                returns: A [thread](https://platform.openai.com/docs/api-reference/threads) object.
                examples:
                    - title: Empty
                      request:
                          curl: |
                              curl https://api.portkey.ai/v1/threads \
                                -H "Content-Type: application/json" \
                                -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                                -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" \
                                -H "OpenAI-Beta: assistants=v2" \
                                -d ''
                          python: |
                              from portkey_ai import Portkey

                              client = Portkey(
                                api_key = "PORTKEY_API_KEY",
                                virtual_key = "PROVIDER_VIRTUAL_KEY"
                              )

                              empty_thread = client.beta.threads.create()
                              print(empty_thread)
                          node.js: |-
                              import Portkey from 'portkey-ai';

                              const client = new Portkey({
                                apiKey: 'PORTKEY_API_KEY',
                                virtualKey: 'PROVIDER_VIRTUAL_KEY'
                              });

                              async function main() {
                                const emptyThread = await client.beta.threads.create();

                                console.log(emptyThread);
                              }

                              main();
                      response: |
                          {
                            "id": "thread_abc123",
                            "object": "thread",
                            "created_at": 1699012949,
                            "metadata": {},
                            "tool_resources": {}
                          }
                    - title: Messages
                      request:
                          curl: |
                              curl https://api.portkey.ai/v1/threads \
                              -H "Content-Type: application/json" \
                              -H "x-portkey-api-key: $PORTKEY_API_KEY" \
                              -H "x-portkey-virtual-key: $PORTKEY_PROVIDER_VIRTUAL_KEY" \
                              -H "OpenAI-Beta: assistants=v2" \
                              -d '{
                                  "messages": [{
                                    "role": "user",
                                    "content": "Hello, what is AI?"
                                  }, {
                                    "role": "user",
                                    "content": "How does AI work? Explain it in simple terms."
                                  }]
                                }'
                          python: |
                              from portkey_ai import Portkey

                              client = Portkey(
                                api_key = "PORTKEY_API_KEY",
                                virtual_key = "PROVIDER_VIRTUAL_KEY"
                              )

                              message_thread = client.beta.threads.create(
                                messages=[
                                  {
[...]
